<!DOCTYPE html>
<html lang="en">

<head>
    <title>COMPUTER DI BORDO</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

<script>
function timedRefresh(timeoutPeriod) {
setTimeout("location.reload(true);", timeoutPeriod);
}
window.onload = timedRefresh(5000);
</script>

</head>

<body>

<div class="container-fluid" >
     <div class="card text-center text-white bg-dark">
      {% if "Km=" in coords %}
      <div class="card-header">{{coords["Km="]}}</div>
      {% else %}
      <div class="card-header"></div>
      {% endif %}
      <div id="contentPC" class="card-body">
               <form method="POST" action="/tracker">
        <div class="btn-group">
          <button name="tracker" class="btn btn-outline-danger btn-sm" value="stopTracker">Stop Tracking</>
          <button name="tracker" class="btn btn-outline-warning btn-sm" value="startTracker">Start Tracking</>
        </div>
         <div class="card-footer">
        <input type="inputbox" name="file_to_use" value={{fileRecordingName}} />
         </div>
       </form>
       <p class="card-text">
          {{trackerActive}}
       </p>
         {% for coord in coords.items() %}
        <h5 class="card-title">
         {{coord}}
        </h5>
         {% endfor %}
      </div>

     </div>
</div>

</body>
</html>
<script>
